<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <title>Planner</title>

</head>

<body>

    <nav class="navbar  navbar-expand-sm  navbar-dark">
        <div class="container-fluid">
            <a class="nav-link active" id="home" href="/"> Profile</a>
            <button class="navbar-toggler">
            </button>
            <a class="nav-link active" id="home" href="/"> HOME</a>
            <button class="navbar-toggler">
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">

            </div>

                </ul>
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="a1" data-bs-toggle="dropdown" aria-current="page"
                            href="#">{{session.username}}</a>
                        <div class="dropdown-menu" style="background-color:#e7edf1;">
                            <a class="dropdown-item" href="/logout">Log Out</a>
                            <a class="dropdown-item" href="/contact">Contact Us </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/delete">Delete Account</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="a1" href="/task">Add Your Task</a></li>
                
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" id="a1" href="/contact">Contact
                            Us</a></li>
                    <li class="nav-item"><a class="nav-link" id="a1" href="/login">Log
                            In</button></a></li>
                    
                    <li class="nav-item"><a class="nav-link" href="/register"><button type="button" class="btn2">Get
                                Started</button></a></li>
                </ul>
                <hr>

            </div>
        </div>
    </nav>

    <main class="container p-5">
    </main>
    <footer class="container">
        <hr>
        <p class="float-end"><a href="#" class="a1"> Back to top</a></p>
        <p>© 2022-2023 Company, Inc. · <a href="#" class="a1">Privacy · Terms</p>
    </footer>

</body>

</html>
